USE [DboTicariOtomasyonu]
GO
/****** Object:  Table [dbo].[TBL_ADMIN]    Script Date: 28.10.2019 19:47:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_ADMIN](
	[KULLANICIAD] [varchar](10) NULL,
	[SIFRE] [varchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_BANKALAR]    Script Date: 28.10.2019 19:47:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_BANKALAR](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[BANKAADI] [varchar](30) NULL,
	[IL] [varchar](13) NULL,
	[ILCE] [varchar](20) NULL,
	[SUBE] [varchar](30) NULL,
	[IBAN] [varchar](30) NULL,
	[HESAPNO] [varchar](20) NULL,
	[YETKILI] [varchar](30) NULL,
	[TELEFON] [varchar](15) NULL,
	[TARIH] [varchar](20) NULL,
	[HESAPTURU] [varchar](20) NULL,
	[FIRMAID] [smallint] NULL,
 CONSTRAINT [PK_TBL_BANKALAR] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_FATURABILGI]    Script Date: 28.10.2019 19:47:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_FATURABILGI](
	[FATURABILGIID] [int] IDENTITY(1,1) NOT NULL,
	[SERI] [char](1) NULL,
	[SIRANO] [varchar](10) NULL,
	[TARIH] [varchar](10) NULL,
	[SAAT] [varchar](5) NULL,
	[VERGIDAIRE] [varchar](40) NULL,
	[ALICI] [varchar](30) NULL,
	[TESLIMEDEN] [varchar](30) NULL,
	[TESLIMALAN] [varchar](30) NULL,
 CONSTRAINT [PK_TBL_FATURABILGI] PRIMARY KEY CLUSTERED 
(
	[FATURABILGIID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_FATURADETAY]    Script Date: 28.10.2019 19:47:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_FATURADETAY](
	[FATURAURUNID] [int] IDENTITY(1,1) NOT NULL,
	[URUNAD] [varchar](20) NULL,
	[MIKTAR] [smallint] NULL,
	[FIYAT] [decimal](18, 2) NULL,
	[TUTAR] [decimal](18, 2) NULL,
	[FATURAID] [int] NULL,
 CONSTRAINT [PK_TBL_FATURADETAY] PRIMARY KEY CLUSTERED 
(
	[FATURAURUNID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_FIRMAHAREKETLER]    Script Date: 28.10.2019 19:47:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_FIRMAHAREKETLER](
	[HAREKETID] [int] IDENTITY(1,1) NOT NULL,
	[URUNID] [int] NULL,
	[ADET] [tinyint] NULL,
	[PERSONEL] [tinyint] NULL,
	[FIRMA] [smallint] NULL,
	[FIYAT] [decimal](18, 2) NULL,
	[TOPLAM] [decimal](18, 2) NULL,
	[FATURAID] [int] NULL,
	[TARIH] [varchar](10) NULL,
	[NOTLAR] [varchar](250) NULL,
 CONSTRAINT [PK_TBL_HAREKETLER] PRIMARY KEY CLUSTERED 
(
	[HAREKETID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_FIRMALAR]    Script Date: 28.10.2019 19:47:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_FIRMALAR](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[AD] [varchar](30) NULL,
	[YETKILISTATU] [varchar](30) NULL,
	[YETKILIADSOYAD] [varchar](30) NULL,
	[YETKILITC] [char](11) NULL,
	[SEKTOR] [varchar](15) NULL,
	[TELEFON1] [varchar](15) NULL,
	[TELEFON2] [varchar](15) NULL,
	[TELEFON3] [varchar](15) NULL,
	[MAIL] [varchar](40) NULL,
	[FAX] [varchar](15) NULL,
	[IL] [varchar](13) NULL,
	[ILCE] [varchar](20) NULL,
	[VERGIDAIRE] [varchar](30) NULL,
	[ADRES] [varchar](100) NULL,
	[OZELKOD1] [varchar](10) NULL,
	[OZELKOD2] [varchar](10) NULL,
	[OZELKOD3] [varchar](10) NULL,
 CONSTRAINT [PK_TBL_FIRMALAR] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_GIDERLER]    Script Date: 28.10.2019 19:47:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_GIDERLER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AY] [varchar](10) NULL,
	[YIL] [char](4) NULL,
	[ELEKTRIK] [decimal](18, 2) NULL,
	[SU] [decimal](18, 2) NULL,
	[DOGALGAZ] [decimal](18, 2) NULL,
	[INTERNET] [decimal](18, 2) NULL,
	[MAASLAR] [decimal](18, 2) NULL,
	[EKSTRA] [decimal](18, 2) NULL,
	[NOTLAR] [varchar](500) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_ILCELER]    Script Date: 28.10.2019 19:47:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_ILCELER](
	[ID] [int] NOT NULL,
	[ILCE] [nvarchar](255) NULL,
	[SEHIR] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_ilceler] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_ILLER]    Script Date: 28.10.2019 19:47:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_ILLER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SEHIR] [nvarchar](255) NULL,
 CONSTRAINT [PK_iller] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_KODLAR]    Script Date: 28.10.2019 19:47:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_KODLAR](
	[FIRMAKOD1] [varchar](300) NULL,
	[FIRMAKOD2] [varchar](300) NULL,
	[FIRMAKOD3] [varchar](300) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_MUSTERIHAREKET]    Script Date: 28.10.2019 19:47:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_MUSTERIHAREKET](
	[HAREKETID] [int] IDENTITY(1,1) NOT NULL,
	[URUNID] [int] NULL,
	[ADET] [tinyint] NULL,
	[PERSONEL] [tinyint] NULL,
	[MUSTERI] [smallint] NULL,
	[FIYAT] [decimal](18, 2) NULL,
	[TOPLAM] [decimal](18, 2) NULL,
	[FATURAID] [int] NULL,
	[TARIH] [varchar](10) NULL,
	[NOTLAR] [varchar](250) NULL,
 CONSTRAINT [PK_TBL_MUSTERIHAREKET] PRIMARY KEY CLUSTERED 
(
	[HAREKETID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_MUSTERILER]    Script Date: 28.10.2019 19:47:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_MUSTERILER](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[AD] [varchar](20) NULL,
	[SOYAD] [varchar](30) NULL,
	[TELEFON] [varchar](15) NULL,
	[TELEFON2] [varchar](15) NULL,
	[TC] [char](11) NULL,
	[MAIL] [varchar](40) NULL,
	[IL] [varchar](13) NULL,
	[ILCE] [varchar](20) NULL,
	[ADRES] [varchar](100) NULL,
	[VERGIDAIRE] [varchar](30) NULL,
 CONSTRAINT [PK_TBL_MUSTERILER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_NOTLAR]    Script Date: 28.10.2019 19:47:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_NOTLAR](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TARIH] [varchar](50) NULL,
	[SAAT] [varchar](50) NULL,
	[BASLIK] [varchar](50) NULL,
	[DETAY] [varchar](250) NULL,
	[OLUSTURAN] [varchar](20) NULL,
	[HITAP] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_PERSONELLER]    Script Date: 28.10.2019 19:47:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_PERSONELLER](
	[ID] [tinyint] IDENTITY(1,1) NOT NULL,
	[AD] [varchar](20) NULL,
	[SOYAD] [varchar](30) NULL,
	[TELEFON] [varchar](15) NULL,
	[TC] [char](11) NULL,
	[MAIL] [varchar](40) NULL,
	[IL] [varchar](13) NULL,
	[ILCE] [varchar](20) NULL,
	[ADRES] [varchar](100) NULL,
	[GOREV] [varchar](20) NULL,
 CONSTRAINT [PK_TBL_PERSONELLER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_STOKLAR]    Script Date: 28.10.2019 19:47:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_STOKLAR](
	[ID] [tinyint] IDENTITY(1,1) NOT NULL,
	[STOKTUR] [varchar](20) NULL,
	[STOKADET] [smallint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_URUNLER]    Script Date: 28.10.2019 19:47:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_URUNLER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[URUNAD] [varchar](20) NULL,
	[MARKA] [varchar](20) NULL,
	[MODEL] [varchar](20) NULL,
	[YIL] [char](4) NULL,
	[ADET] [smallint] NULL,
	[ALISFIYAT] [decimal](18, 2) NULL,
	[SATISFIYAT] [decimal](18, 2) NULL,
	[DETAY] [varchar](500) NULL,
 CONSTRAINT [PK_TBL_URUNLER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[TBL_ADMIN] ([KULLANICIAD], [SIFRE]) VALUES (N'onyor', N'123asd')
SET IDENTITY_INSERT [dbo].[TBL_BANKALAR] ON 

INSERT [dbo].[TBL_BANKALAR] ([ID], [BANKAADI], [IL], [ILCE], [SUBE], [IBAN], [HESAPNO], [YETKILI], [TELEFON], [TARIH], [HESAPTURU], [FIRMAID]) VALUES (1, N'Ziraat Bankası', N'AMASYA', N'GÜMÜŞHACIKÖYÜ', N'GümüşHacı Meydan Şubesi', N'TR24 6874 2656 48965485 4898', N'2656 48965485 4898', N'Banka Memuru', N'(561) 168-5232', N'20.08.2019', N'Vadeli', 1)
INSERT [dbo].[TBL_BANKALAR] ([ID], [BANKAADI], [IL], [ILCE], [SUBE], [IBAN], [HESAPNO], [YETKILI], [TELEFON], [TARIH], [HESAPTURU], [FIRMAID]) VALUES (3, N'VakıfBank', N'AFYON', N'ÇAY', N'Çay Meydan Şubesi', N'TR26 3154 5264 54895455 6483', N'5264 54895455 6483', N'Banka Memuru', N'(541) 321-6853', N'12.05.2019', N'Vadesiz', 1)
SET IDENTITY_INSERT [dbo].[TBL_BANKALAR] OFF
SET IDENTITY_INSERT [dbo].[TBL_FIRMALAR] ON 

INSERT [dbo].[TBL_FIRMALAR] ([ID], [AD], [YETKILISTATU], [YETKILIADSOYAD], [YETKILITC], [SEKTOR], [TELEFON1], [TELEFON2], [TELEFON3], [MAIL], [FAX], [IL], [ILCE], [VERGIDAIRE], [ADRES], [OZELKOD1], [OZELKOD2], [OZELKOD3]) VALUES (1, N'Final Okulları', N'İnsan Kaynakları', N'Mahmut Kerem', N'31684168416', N'Eğitim', N'(531) 847-8564', N'(584) 561-9815', N'(596) 156-4655', N'mhmtkrm@gmail.com', N'(315) 496-5198', N'AĞRI', N'ELEŞKİRT', N'Eleşkirt Vergi Dairesi', N'Doğu Mh. 1835/5 Sk.', N'', N'', N'')
INSERT [dbo].[TBL_FIRMALAR] ([ID], [AD], [YETKILISTATU], [YETKILIADSOYAD], [YETKILITC], [SEKTOR], [TELEFON1], [TELEFON2], [TELEFON3], [MAIL], [FAX], [IL], [ILCE], [VERGIDAIRE], [ADRES], [OZELKOD1], [OZELKOD2], [OZELKOD3]) VALUES (3, N'Mavi Yeşil ', N'Sağlık Departmanı', N'Atakan Dursun', N'18765485612', N'Sağlık', N'(584) 515-5465', N'(512) 235-4684', N'(586) 895-3458', N'atakandursun@hotmail.com', N'(321) 345-6786', N'ANKARA', N'ÇANKAYA', N'Çanya Vergi Dairesi', N'Çukurambar Mh. 5354 Sk. 2. Cd No: 15', N'', N'', N'')
INSERT [dbo].[TBL_FIRMALAR] ([ID], [AD], [YETKILISTATU], [YETKILIADSOYAD], [YETKILITC], [SEKTOR], [TELEFON1], [TELEFON2], [TELEFON3], [MAIL], [FAX], [IL], [ILCE], [VERGIDAIRE], [ADRES], [OZELKOD1], [OZELKOD2], [OZELKOD3]) VALUES (4, N'Mavi Yeşil ', N'Sağlık Departmanı', N'Atakan Dursun', N'18765485612', N'Sağlık', N'(584) 515-5465', N'(512) 235-4684', N'(586) 895-3458', N'atakandursun@hotmail.com', N'(321) 345-6786', N'ANKARA', N'ÇANKAYA', N'Çanya Vergi Dairesi', N'Çukurambar Mh. 5354 Sk. 2. Cd No: 15', N'', N'', N'')
SET IDENTITY_INSERT [dbo].[TBL_FIRMALAR] OFF
SET IDENTITY_INSERT [dbo].[TBL_ILCELER] ON 

INSERT [dbo].[TBL_ILCELER] ([ID], [ILCE], [SEHIR]) VALUES (1, N'SEYHAN', 1)
INSERT [dbo].[TBL_ILCELER] ([ID], [ILCE], [SEHIR]) VALUES (2, N'CEYHAN', 1)
INSERT [dbo].[TBL_ILCELER] ([ID], [ILCE], [SEHIR]) VALUES (3, N'FEKE', 1)
GO
SET IDENTITY_INSERT [dbo].[TBL_ILCELER] OFF
SET IDENTITY_INSERT [dbo].[TBL_ILLER] ON 

INSERT [dbo].[TBL_ILLER] ([ID], [SEHIR]) VALUES (1, N'ADANA')
INSERT [dbo].[TBL_ILLER] ([ID], [SEHIR]) VALUES (2, N'ADIYAMAN')
INSERT [dbo].[TBL_ILLER] ([ID], [SEHIR]) VALUES (3, N'AFYON')
SET IDENTITY_INSERT [dbo].[TBL_ILLER] OFF
ALTER TABLE [dbo].[TBL_BANKALAR]  WITH CHECK ADD  CONSTRAINT [FK_TBL_BANKALAR_TBL_FIRMALAR] FOREIGN KEY([FIRMAID])
REFERENCES [dbo].[TBL_FIRMALAR] ([ID])
GO
ALTER TABLE [dbo].[TBL_BANKALAR] CHECK CONSTRAINT [FK_TBL_BANKALAR_TBL_FIRMALAR]
GO
ALTER TABLE [dbo].[TBL_FATURADETAY]  WITH CHECK ADD  CONSTRAINT [FK_TBL_FATURADETAY_TBL_FATURABILGI] FOREIGN KEY([FATURAID])
REFERENCES [dbo].[TBL_FATURABILGI] ([FATURABILGIID])
GO
ALTER TABLE [dbo].[TBL_FATURADETAY] CHECK CONSTRAINT [FK_TBL_FATURADETAY_TBL_FATURABILGI]
GO
ALTER TABLE [dbo].[TBL_FIRMAHAREKETLER]  WITH CHECK ADD  CONSTRAINT [FK_TBL_FIRMAHAREKETLER_TBL_URUNLER] FOREIGN KEY([URUNID])
REFERENCES [dbo].[TBL_URUNLER] ([ID])
GO
ALTER TABLE [dbo].[TBL_FIRMAHAREKETLER] CHECK CONSTRAINT [FK_TBL_FIRMAHAREKETLER_TBL_URUNLER]
GO
ALTER TABLE [dbo].[TBL_FIRMAHAREKETLER]  WITH CHECK ADD  CONSTRAINT [FK_TBL_HAREKETLER_TBL_FIRMALAR] FOREIGN KEY([FIRMA])
REFERENCES [dbo].[TBL_FIRMALAR] ([ID])
GO
ALTER TABLE [dbo].[TBL_FIRMAHAREKETLER] CHECK CONSTRAINT [FK_TBL_HAREKETLER_TBL_FIRMALAR]
GO
ALTER TABLE [dbo].[TBL_FIRMAHAREKETLER]  WITH CHECK ADD  CONSTRAINT [FK_TBL_HAREKETLER_TBL_PERSONELLER] FOREIGN KEY([PERSONEL])
REFERENCES [dbo].[TBL_PERSONELLER] ([ID])
GO
ALTER TABLE [dbo].[TBL_FIRMAHAREKETLER] CHECK CONSTRAINT [FK_TBL_HAREKETLER_TBL_PERSONELLER]
GO
ALTER TABLE [dbo].[TBL_MUSTERIHAREKET]  WITH CHECK ADD  CONSTRAINT [FK_TBL_MUSTERIHAREKET_TBL_MUSTERILER] FOREIGN KEY([MUSTERI])
REFERENCES [dbo].[TBL_MUSTERILER] ([ID])
GO
ALTER TABLE [dbo].[TBL_MUSTERIHAREKET] CHECK CONSTRAINT [FK_TBL_MUSTERIHAREKET_TBL_MUSTERILER]
GO
ALTER TABLE [dbo].[TBL_MUSTERIHAREKET]  WITH CHECK ADD  CONSTRAINT [FK_TBL_MUSTERIHAREKET_TBL_PERSONELLER] FOREIGN KEY([PERSONEL])
REFERENCES [dbo].[TBL_PERSONELLER] ([ID])
GO
ALTER TABLE [dbo].[TBL_MUSTERIHAREKET] CHECK CONSTRAINT [FK_TBL_MUSTERIHAREKET_TBL_PERSONELLER]
GO
ALTER TABLE [dbo].[TBL_MUSTERIHAREKET]  WITH CHECK ADD  CONSTRAINT [FK_TBL_MUSTERIHAREKET_TBL_URUNLER] FOREIGN KEY([URUNID])
REFERENCES [dbo].[TBL_URUNLER] ([ID])
GO
ALTER TABLE [dbo].[TBL_MUSTERIHAREKET] CHECK CONSTRAINT [FK_TBL_MUSTERIHAREKET_TBL_URUNLER]
GO
/****** Object:  StoredProcedure [dbo].[BankaBilgileri]    Script Date: 28.10.2019 19:47:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- inner join kullanımı
-- sutunlar tablo1 inner join tablo2 on tablo1.deger=tablo2.deger

CREATE procedure [dbo].[BankaBilgileri]
as
Select TBL_BANKALAR.ID, BANKAADI,TBL_BANKALAR.IL,TBL_BANKALAR.ILCE,SUBE,
IBAN, HESAPNO,YETKILI,
TELEFON,TARIH, HESAPTURU,AD 
FROM 
TBL_BANKALAR inner join TBL_FIRMALAR
on
TBL_BANKALAR.FIRMAID=TBL_FIRMALAR.ID


GO
/****** Object:  StoredProcedure [dbo].[FIRMAHAREKET2]    Script Date: 28.10.2019 19:47:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FIRMAHAREKET2]
AS
SELECT URUNAD as 'ÜRÜN ADI',TBL_FIRMAHAREKETLER.ADET,
TBL_FIRMALAR.AD AS 'FIRMA ADI',
FIYAT, TOPLAM
FROM TBL_FIRMAHAREKETLER
INNER JOIN
TBL_URUNLER
ON
TBL_FIRMAHAREKETLER.URUNID=TBL_URUNLER.ID
INNER JOIN
TBL_FIRMALAR
ON
TBL_FIRMAHAREKETLER.FIRMA=TBL_FIRMALAR.ID
GO
/****** Object:  StoredProcedure [dbo].[FirmaHareketler]    Script Date: 28.10.2019 19:47:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[FirmaHareketler]
as
SELECT HAREKETID, URUNAD,TBL_FIRMAHAREKETLER.ADET,
(TBL_PERSONELLER.AD +' '+ SOYAD) AS 'AD SOYAD',TBL_FIRMALAR.AD AS 'FIRMA ADI',
FIYAT, TOPLAM, FATURAID, TARIH, NOTLAR
FROM TBL_FIRMAHAREKETLER
INNER JOIN
TBL_URUNLER
ON
TBL_FIRMAHAREKETLER.URUNID=TBL_URUNLER.ID
INNER JOIN
TBL_PERSONELLER
ON
TBL_FIRMAHAREKETLER.PERSONEL=TBL_PERSONELLER.ID
INNER JOIN
TBL_FIRMALAR
ON
TBL_FIRMAHAREKETLER.FIRMA=TBL_FIRMALAR.ID
GO
/****** Object:  StoredProcedure [dbo].[MusteriHaretker]    Script Date: 28.10.2019 19:47:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MusteriHaretker]
as
Select HAREKETID, URUNAD, TBL_MUSTERIHAREKET.ADET, 
(TBL_PERSONELLER.AD + ' ' + TBL_PERSONELLER.SOYAD) AS 'AD SOYAD' ,
(TBL_MUSTERILER.AD + ' ' + TBL_MUSTERILER.SOYAD) AS 'MÜŞTERİ' ,
FIYAT, TOPLAM,TBL_MUSTERIHAREKET.ADET, FATURAID, TARIH, NOTLAR
FROM TBL_MUSTERIHAREKET
INNER JOIN
TBL_URUNLER
ON
TBL_MUSTERIHAREKET.URUNID=TBL_URUNLER.ID
INNER JOIN
TBL_PERSONELLER
ON
TBL_MUSTERIHAREKET.PERSONEL=TBL_PERSONELLER.ID
INNER JOIN
TBL_MUSTERILER
ON
TBL_MUSTERIHAREKET.MUSTERI=TBL_MUSTERILER.ID
GO
